# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd

# Virtual Environment
venv/
.env/

# Flask specific files
instance/
*.db

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
*.egg-info/
dist/
build/

.vercel
